<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.software.program.astrixsa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="honeycomb"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".views.ViewCategory"
            android:label="@string/categorias"/>
        <activity
            android:name=".views.Download"
            android:label="descarga">
        </activity>
        <activity
            android:name=".views.MenuVideo"
            android:label="OLA FUTURO Máquina"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.ViewProduct" />
        </activity>
        <activity
            android:name=".views.ViewVideoYoutube"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".views.ViewVideoDownloaded"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".views.ViewProduct"
            android:label="@string/productos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.ViewCategory" />
        </activity>
        <activity
            android:name=".App"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>